In [147]:
import urllib # the necessary python library for importing the url into files
from io import StringIO # import library for converting bytes data to string data

In [148]:
def open_url(url):
    url = "https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD"
    bike = urllib.request.urlopen(url)
    bike_file = bike.read()
    print(bike_file)
    s = str(bike_file, 'utf-8')
    bike = StringIO(s)
    bike = pd.read_csv(bike)

In [9]:
type(bike) #bike is now a data frame

pandas.core.frame.DataFrame

In [11]:
bike.head

<bound method NDFrame.head of                          Date  Fremont Bridge East Sidewalk  \
0      02/24/2015 02:00:00 AM                           3.0
1      01/01/2019 12:00:00 AM                           0.0
2      01/01/2019 01:00:00 AM                           2.0
3      02/15/2016 12:00:00 AM                           3.0
4      01/01/2019 02:00:00 AM                           1.0
5      01/01/2019 03:00:00 AM                           1.0
6      01/01/2019 04:00:00 AM                           2.0
7      01/01/2019 05:00:00 AM                           3.0
8      01/01/2019 06:00:00 AM                           4.0
9      01/01/2019 07:00:00 AM                           1.0
10     01/01/2019 08:00:00 AM                           8.0
11     01/01/2019 09:00:00 AM                           5.0
12     01/01/2019 10:00:00 AM                          37.0
13     01/01/2019 11:00:00 AM                          31.0
14     01/01/2019 12:00:00 PM                          31.0
15     01/01/2019 01:00:00 PM                          55.0
16     01/01/2019 02:00:00 PM                          61.0
17     01/01/2019 03:00:00 PM                          31.0
18     11/15/2015 02:00:00 AM                           0.0
19     01/01/2019 04:00:00 PM                          30.0
20     01/01/2019 05:00:00 PM                           9.0
21     01/01/2019 06:00:00 PM                           9.0
22     01/01/2019 07:00:00 PM                           8.0
23     01/01/2019 08:00:00 PM                           4.0
24     01/01/2019 09:00:00 PM                           1.0
25     01/01/2019 10:00:00 PM                           1.0
26     01/01/2019 11:00:00 PM                           0.0
27     11/29/2015 04:00:00 AM                           0.0
28     01/02/2019 12:00:00 AM                           1.0
29     03/14/2013 03:00:00 AM                           1.0
...                       ...                           ...
61266  02/03/2013 02:00:00 AM                           3.0
61267  05/06/2015 06:00:00 PM                         175.0
61268  12/09/2013 06:00:00 AM                          47.0
61269  09/05/2016 02:00:00 AM                           0.0
61270  03/24/2015 12:00:00 PM                          44.0
61271  10/11/2017 01:00:00 PM                          40.0
61272  01/30/2013 09:00:00 PM                           7.0
61273  09/07/2015 01:00:00 PM                          99.0
61274  06/23/2016 03:00:00 AM                           0.0
61275  04/29/2016 03:00:00 PM                          76.0
61276  05/17/2015 03:00:00 AM                           6.0
61277  08/18/2014 02:00:00 AM                           0.0
61278  11/10/2012 02:00:00 AM                           4.0
61279  05/18/2015 09:00:00 AM                         173.0
61280  02/06/2018 06:00:00 AM                          68.0
61281  02/26/2018 05:00:00 AM                          15.0
61282  04/16/2014 06:00:00 AM                          46.0
61283  01/04/2017 11:00:00 AM                          14.0
61284  05/04/2013 06:00:00 AM                          17.0
61285  11/15/2014 03:00:00 PM                          59.0
61286  11/28/2017 07:00:00 PM                          27.0
61287  06/20/2017 08:00:00 PM                          54.0
61288  04/22/2016 10:00:00 PM                           8.0
61289  11/21/2015 04:00:00 PM                          49.0
61290  10/17/2012 02:00:00 PM                          54.0
61291  12/12/2013 05:00:00 AM                          21.0
61292  07/19/2013 09:00:00 PM                          63.0
61293  05/18/2018 07:00:00 PM                          70.0
61294  12/04/2014 07:00:00 AM                         150.0
61295  10/01/2013 04:00:00 AM                           3.0

       Fremont Bridge West Sidewalk
0                               3.0
1                               9.0
2                              22.0
3                               3.0
4                              11.0
5                               2.0
6                               1.0
7                               1.0
8                               7.0
9                               2.0
10                              9.0
11                             14.0
12                             24.0
13                             11.0
14                             29.0
15                             48.0
16                             52.0
17                             37.0
18                              0.0
19                             28.0
20                             17.0
21                             11.0
22                              7.0
23                              3.0
24                              3.0
25                              2.0
26                              2.0
27                              0.0
28                              0.0
29                              1.0
...                             ...
61266                           4.0
61267                         327.0
61268                          20.0
61269                           2.0
61270                           3.0
61271                          55.0
61272                          22.0
61273                          82.0
61274                           2.0
61275                          85.0
61276                           2.0
61277                           4.0
61278                           6.0
61279                         116.0
61280                          49.0
61281                           7.0
61282                          21.0
61283                          15.0
61284                          12.0
61285                          55.0
61286                          63.0
61287                          63.0
61288                          13.0
61289                          29.0
61290                          51.0
61291                           3.0
61292                          52.0
61293                         111.0
61294                          62.0
61295                           2.0

[61296 rows x 3 columns]>

In [88]:
sec_input = ['cat','mouse','dog','Date'] #a dummy list to test in function later

In [89]:
sec_input # a dummy list to test in function later

['cat', 'mouse', 'dog', 'Date']

In [145]:
 def test_create_dataframe(dataframe, colnames):
        if set(list(dataframe.columns.values)) & set(colnames) == set(list(dataframe.columns.values)):
            print('the column names match!')
        else:
            print('the column names do not match!')
        if len(dataframe.index) >= 10:
            print("there are at least 10 rows in the dataframe")
        if len(set(dataframe.dtypes)) >= 2: 
            print("there are more than one data type in the columns")

In [146]:
test_create_dataframe(bike,sec_input)

the column names do not match!
there are at least 10 rows in the dataframe
there are more than one data type in the columns